body{
    background:#000000;
    font-family:Arial;
    text-align:left;
}

body1{
    background:#000000;
    font-family:Arial;
    text-align:center;
}

h1{
    color:rgb(255, 255, 255);
}

p{
    font-size:22px;
    color:rgb(255, 255, 255);
}

t{
    font-size:22px;
    color:rgb(169, 248, 162)
}

x{
    font-size:15px;
    color:rgba(255, 255, 255, 0.521);
}

c{
    font-size:22px;
    color:rgba(255, 255, 255, 0.521);
}

img{
    width:500px;
}

.italic{
    font-style: italic;
}

